<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改工作汇报')" />
    <th:block th:include="include :: header('下拉框')" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-select-css" />
    <style type="text/css">
        #editor1 {
            width: 100%;
            height: 300px;
        }

        .link-top {
            width: 100%;
            height: 1px;
            border-top: solid #ACC0D8 1px;
        }
        .left_td {
            padding-bottom: 25px;
            text-align:left;
            padding-left: 20px;
        }
        .right_td {
            padding-bottom: 25px;
            padding-left: 20px;
            text-align:right;
        }
        td {
            padding-top: 10px;
        }
    </style>
</head>
<body class="white-bg">

    <div class="container-div">
        <div class="row" style="display: flex;background: white;">
            <div style="width: 20%"></div>
            <div class="col-sm-12 search-collapse">
                <div style="">
                    <div th:object="${work}">
                        <div  style="text-align: center;font-size: x-large;"><span th:text="*{workName}">标题</span></div>
                        <div style="text-align: center;padding: 10px 10px 3px 10px; width:100%">创建人:<span th:text="*{userName}">用户</span><span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间: </span><span th:text="*{#dates.format(createTime,'yyyy-MM-dd HH:mm:ss')}"></span></div>
                        <div style="text-align: center;padding: 10px 10px 3px 10px;">
                            <b><span>来源：</span><span id="laiyuan"></span></b>&nbsp;&nbsp;&nbsp;&nbsp;
                            <b><span>部门：</span><span th:text="*{deptName}"></span></b>&nbsp;&nbsp;&nbsp;&nbsp;
                            <b><span>重要程度：</span><span id="zycd"></span></b>&nbsp;&nbsp;&nbsp;&nbsp;
                            <b><span>困难程度：</span><span id="kncd"></span></b>&nbsp;&nbsp;&nbsp;&nbsp;
                            <b><span>开始日期：</span><span id="ksrq"></span></b>&nbsp;&nbsp;&nbsp;&nbsp;
                            <b><span>截止日期：</span><span id="jzrq"></span></b>
                        </div>
                        <div class="link-top"></div>
                        <div style="padding: 10px;" id="workContentDiv">
                            <input type="hidden" id="workContent" name="content" th:field="*{content}"/>
                        </div>
                        <div class="link-top"></div>
                    </div>

                    <div class="row">
                        <div th:each="work, workStat: ${workList}">
                            <table>
                                <tr>
                                    <input class="content" type="hidden" th:id="content+(${workStat.index}+1)" name="content" th:value="${work.replyContent}"/>
                                    <td colspan="4" class="left_td">
                                        <span th:text="${work.userName}" style="display:inline-block;"></span>：
                                        <span class="divContent" th:id="divContent+(${workStat.index}+1)" style="display:inline-block;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="right_td">时间：</td><td style="float:left"><span th:text="${work.replyCreateTime}"></span></td>
                                    <td class="left_td">时长：</td><td style="float:left"><span th:text="${work.hours}"></span></td>
                                    <td class="left_td" style="color: #1aad19">进度：</td><td style="float:left;color: #1aad19"><span th:text="${work.replyProgress}"></span>%</td>
                                </tr>
                            </table>
                            <div class="link-top"></div>
                        </div>
                    </div>

                    <div id="replayDiv" class="row" style="display: none">
                        <h2>汇报工作：</h2>
                        <div style="display:inline-block;">时长：</div><input style="display:inline-block;width:200px" id="hours" name="hours" placeholder="请输入时长">&nbsp;&nbsp;&nbsp;&nbsp;
                        <div style="display:inline-block;">进度：</div><input style="display:inline-block;width:200px" id="progress" name="progress" placeholder="请输入数字，100表示已完成">
                        <div id="editor1" type="text/plain"></div>
                    </div>
                    <div class="row" style="padding-top: 30px">
                        <ul>
                            <li style="text-align: center;list-style: none;display: none" id="feedbackDiv">
                                <a class="btn btn-sm btn-success" onclick="feedback()"><i class="fa fa-plus"></i>汇 报 </a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row" id="closeDiv" style="display: none">
                        <br/><br/><br/><br/><br/><br/>
                        <ul>
                            <li style="text-align: center;list-style: none;">
                                <a class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div style="width: 20%"></div>

        </div>
    </div>


    <div class="wrapper wrapper-content animated fadeInRight ibox-content" style="display: none">
        <form class="form-horizontal m" id="form-work-edit" th:object="${work}">
            <div class="row">
                <input name="oaWorkId" id="oaWorkId" th:field="*{oaWorkId}" type="hidden">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">来源：</label>
                        <div class="col-sm-8">
                            <select name="sourceType" id="sourceType" class="form-control m-b" th:with="type=${@dict.getType('oa_source_type')}" disabled="disabled">
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{sourceType}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">组织：</label>
                        <div class="col-sm-8">
                            <input id="deptIdInput" th:value="*{deptId}" class="form-control" type="hidden">
                            <select id="deptId" class="form-control" onchange="getSubDeptEmp()" disabled="disabled">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">重要程度：</label>
                        <div class="col-sm-8">
                            <select name="importantLevel" class="form-control m-b" th:with="type=${@dict.getType('oa_important_level')}" disabled="disabled">
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{importantLevel}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">困难程度：</label>
                        <div class="col-sm-8">
                            <select name="difficultLevel" class="form-control m-b" th:with="type=${@dict.getType('oa_difficult_level')}" disabled="disabled">
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{difficultLevel}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">任务名称：</label>
                        <div class="col-sm-8">
                            <input name="workName" th:field="*{workName}" class="form-control" type="text" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">进度：</label>
                        <div class="col-sm-8">
                            <input name="progress" th:value="*{progress}" class="form-control" type="text" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">开始日期：</label>
                        <div class="col-sm-8">
                            <input name="startDate" th:field="*{startDate}" class="form-control" type="text" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">截止日期：</label>
                        <div class="col-sm-8">
                            <input name="endDate" th:field="*{endDate}" class="form-control" type="text" readonly>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">工作描述：</label>
                        <div class="col-sm-8" id="ueditorContent">
                            <input type="hidden" id="content" name="content" th:field="*{content}"/>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <br/>


    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: bootstrap-select-js" />
    <script th:src="@{/ueditor/ueditor.config.js}"></script>
    <script th:src="@{/ueditor/ueditor.all.min.js}"></script>
    <script th:src="@{/ueditor/lang/zh-cn/zh-cn.js}"></script>
    <script type="text/javascript">
        var flag = [[${flag}]];
        if (flag != 1){
            $("#replayDiv").show();
            $("#feedbackDiv").show();
            var ue1 = UE.getEditor('editor1',{
                autoHeightEnabled: false,
                iframeCssUrl: '/ueditor/themes/iframe.css',// 引入css
                initialFrameHeight:200,initialFrameWidth:'100%'
            });
        } else {
            $("#feedbackDiv").hide();
            $("#closeDiv").css("display", "block");
        }
        if ($("#feedbackDiv").css('display') === 'block'){
            $("#closeDiv").css("display", "none");
        }

        $("#ueditorContent").html('<div style="width:100%;height:100%;">' + $("#content").val() +'</div>');

        var divContent = $("span.divContent");
        var content = $("input.content");
        for (var i = 0; i< divContent.length; i++) {
            var ueditor = divContent.eq(i).attr("id");
            var cont = content.eq(i).attr("value");
            $("#"+ueditor).html('<div style="width:100%;height:100%;">' + cont +'</div>');
        };

        var prefix = ctx + "oa/work";
        var dept_prefix = ctx + "system/dept";
        $("#form-work-edit").validate({
            focusCleanup: true
        });

        $(function(){
            $("#laiyuan").html($("#select2-sourceType-container").attr("title"));
            $("#zycd").html($("#importantLevel").find("option:selected").text());
            $("#kncd").html($("#difficultLevel").find("option:selected").text());
            $("#ksrq").html($("#startDate").val());
            $("#jzrq").html($("#endDate").val());
            $("#workContentDiv").html('<div style="width:100%;height:100%;">' + $("#workContent").val() +'</div>');

            var deptIdInput = $("#deptIdInput").val();
            // 所属组织
            $.ajax({
                url: dept_prefix + "/getDeptListByLoginUser",
                type:"get",
                dataType:"json",
                success:function(data){
                    $("#deptId").append("<option value=''>请选择</option>");
                    $.each(data, function (index, item) {
                        var deptId = data[index].deptId;
                        var deptName = data[index].deptName;
                        if (deptIdInput == deptId){
                            $("#deptId").append("<option selected='selected' value='"+deptId+"'>"+deptName+"</option>");
                        } else {
                            $("#deptId").append("<option value='"+deptId+"'>"+deptName+"</option>");
                        }
                    });
                }
            });

        })

        // 汇报工作
        function feedback() {
            var content = ue1.getContent();
            if ($("#hours").val() == ''){
                $.modal.alertError("请输入时长");
                return
            }
            if ($("#progress").val() == ''){
                $.modal.alertError("请输入进度");
                return
            }
            if ($.trim(content) == ''){
                $.modal.alertError("请输入汇报工作");
                return
            }

            $.ajax({
                url: prefix + "/feedback",
                data: {
                    workId: $("#oaWorkId").val(),
                    progress: $("#progress").val(),
                    hours: $("#hours").val(),
                    content: content
                },
                type: "post",
                dataType: "json",
                success:function(data){
                    if (data.code == 0){
                        $.modal.msgSuccess("汇报成功");
                        window.location.reload();
                    }
                }
            });

        }

        //监听输入框只能输入0~100（包括0和100）的数字
        $(document).on("input propertychange","#progress",function(){
            var limitNum = $(this).val().replace(/[^0-9.]+/g, "");
            if(limitNum>=0&&limitNum<=100){
                $(this).val(limitNum);
            }else{
                $(this).val("");
            }
        })
    </script>
</body>
</html>