<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('工作汇报列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <input type="hidden" id="userId" th:value="${userId}" >
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('oa:task:edit')}]];
    var removeFlag = [[${@permission.hasPermi('oa:task:remove')}]];
    var statusDatas = [[${@dict.getType('oa_task_status')}]];
    var importantLevelDatas = [[${@dict.getType('oa_important_level')}]];
    var difficultLevelDatas = [[${@dict.getType('oa_difficult_level')}]];
    var sourceTypeDatas = [[${@dict.getType('oa_source_type')}]];
    var isTeamDatas = [[${@dict.getType('oa_is_team')}]];
    var prefix = ctx + "oa/task1";

    $(function() {
        var options = {
            url: prefix + "/list?userId=" + $("#userId").val(),
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "工作汇报",
            search: false,
            showSearch:false,
            showColumns:false,
            showExport:false,
            columns: [{
                checkbox: true
            },
                {
                    field : 'oaTaskId',
                    title : '主键',
                    visible: false
                },
                {
                    field : 'taskName',
                    title : '任务名称'
                },
                {
                    field : 'status',
                    title : '状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field : 'importantLevel',
                    title : '重要程度',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(importantLevelDatas, value);
                    }
                },
                {
                    field : 'difficultLevel',
                    title : '困难程度',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(difficultLevelDatas, value);
                    }
                },
                {
                    field : 'startDate',
                    title : '开始日期'
                },
                {
                    field : 'endDate',
                    title : '截止日期'
                },
                {
                    field : 'isTeam',
                    title : '集体措施',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(isTeamDatas, value);
                    }
                },
                {
                    field : 'source',
                    title : '来源'
                },
                {
                    field : 'sponsorName',
                    title : '下发人'
                },
                {
                    field : 'executorName',
                    title : '负责人'
                },
                {
                    field : 'appraiserName',
                    title : '评价人'
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>