<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <!--<th:block th:include="include :: header('我的论坛')" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-select-css" />-->
    <link th:href="@{/forum/css/main00.css}" rel="stylesheet"/>
    <link th:href="@{/forum/css/ru-ui.css}" rel="stylesheet"/>
</head>
<body>
<div class="col-sm-12 search-collapse" style="background: #f4f4f4;">

    <div class="jindu_lists" style="border-radius: 15px;">
        <!--<p class="qielinks">-->
            <!--<span  th:each="list,listStat : ${deptYw}" th:onclick="'luntanList(\''+${list.deptId}+'\',this)'"  th:text="${list.deptName}">运维班01</span>-->
            <!--&lt;!&ndash; <span  class="check_qie3">运维班02</span>-->
             <!--<span>运维班03</span>-->
             <!--<span>运维班04</span>-->
             <!--<span>运维班05</span>-->
             <!--<span>运维班06</span>&ndash;&gt;-->
            <!--<span th:if="${#lists.isEmpty(deptYw)}">暂无数据</span>-->
        <!--</p>-->
        <p style="margin: 0;">&nbsp;&nbsp;&nbsp;&nbsp;最新浏览论坛</p>
        <p class="biandianZ" id="luntan">
            <a href="#"  th:each="list,listStat : ${forumReadList}" th:onclick="'query(\''+${list.forumId}+'\',this)'"  th:text="${list.forumTitle}">变电站00</a>
            <!--<a href="#" class="biand_now">变电站01</a>-->
            <!--<a href="#">变电站02</a>-->
            <!--<a href="#">变电站03</a>-->
            <!--<a href="#">变电站04</a>-->
            <!--<a href="#">变电站05</a>-->
            <!--<a href="#">变电站06</a>-->
        </p>
    </div>

    <div class="jindu_lists" style="border-radius: 15px; position: relative;">
        <p class="tieZnum">帖子数量：<b class="cred" id="forumMessageNum" th:text="${forumMessageNum}">0</b>&nbsp;&nbsp;&nbsp;今日新增：<b class="cred"  id="forumMessageAddNum" th:text="${forumMessageAddNum}">0</b></p>
        <p class="tieZ">&nbsp;&nbsp;
            <a href="#" class="tieZ_now" onclick="myMessage(0)">
            <span>
                <img th:src="@{/forum/img/icon009.png}">
            </span>
                发帖
            </a>
            <a href="#" onclick="myMessage(1)"><span><img th:src="@{/forum/img/icon009.png}">
            </span>
                我的贴</a><a href="#" onclick="myMessage(2)">
                <span><img th:src="@{/forum/img/icon009.png}"></span>回复贴</a><a href="#" onclick="myMessage(3)"><span><img th:src="@{/forum/img/icon009.png}"></span>收藏贴</a></p>
        <table border="0" cellspacing="0" cellpadding="0" class="tongzhi_list">
            <tr>
                <td width="80" valign="top"><img th:src="@{/forum/img/icon_0223.png}">&nbsp;公告</td>
                <td valign="top">
                    <p  th:each="list : ${noticeList}" th:onclick="'queryNotice(\''+${list.forumNoticeId}+'\')'"><a href="#" th:text="${list.title}">暂无数据</a></p>
                    <!--  <p><a href="#">内容内容内容内容内容内容内容内容</a></p>
                      <p><a href="#">内容内容内容内容内容内容内容内容</a></p>-->
                </td>
                <td width="70" valign="top	"><a href="#" onclick="noticeMore()">更多...</a></td>
            </tr>
        </table>
    </div>
    <div class="jindu_lists" style="border-radius: 15px;">
        <p style="margin: 0;">&nbsp;&nbsp;&nbsp;&nbsp;论坛</p>
        <ul class="luntan_lists" id="luntan_lists">
            <!--<li>论坛01</li>
            <li>论坛02</li>
            <li>论坛03</li>
            <li>论坛04</li>
            <li>论坛05</li>-->
        </ul>

        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody style="vertical-align: baseline">
            <tr>
                <td width="49%" style="padding-left: 1%;">
                    <table border="0" cellspacing="0" cellpadding="0" class="qiehanlists" width="100%">
                        <tr><th align="left">&nbsp;&nbsp;最热</th><th width="40%" colspan="2" align="right" onclick="more(1)">更多...&nbsp;&nbsp;</th></tr>
                        <tr  th:each="list,listStat :${hotForumMessageList}" th:onclick="'queryMessage(\''+${list.id}+'\')'">
                            <td align="left">&nbsp;&nbsp;<a href="#" th:text="${list.titile}">测试内容测试内容测试内容</a></td>
                            <td><img th:src="@{/forum/img/icon018.png}">&nbsp;跟帖：<span th:text="${list.replyNum}">0</span></td>
                            <td><img th:src="@{/forum/img/icon020.png}">&nbsp;阅读：<span th:text="${list.readNum}">0</span></td>
                        </tr>
                        <!--      <tr><td align="left">&nbsp;&nbsp;<a href="#">测试内容测试内容测试内容</a></td><td><img src="img/icon018.png">&nbsp;跟帖：<span>8</span></td><td><img src="img/icon020.png">&nbsp;阅读：<span>17</span></td></tr>
                              <tr><td align="left">&nbsp;&nbsp;<a href="#">测试内容测试内容测试内容</a></td><td><img src="img/icon018.png">&nbsp;跟帖：<span>8</span></td><td><img src="img/icon020.png">&nbsp;阅读：<span>17</span></td></tr>
                              <tr><td align="left">&nbsp;&nbsp;<a href="#">测试内容测试内容测试内容</a></td><td><img src="img/icon018.png">&nbsp;跟帖：<span>8</span></td><td><img src="img/icon020.png">&nbsp;阅读：<span>17</span></td></tr>
                              <tr><td align="left">&nbsp;&nbsp;<a href="#">测试内容测试内容测试内容</a></td><td><img src="img/icon018.png">&nbsp;跟帖：<span>8</span></td><td><img src="img/icon020.png">&nbsp;阅读：<span>17</span></td></tr>
                              <tr><td align="left">&nbsp;&nbsp;<a href="#">测试内容测试内容测试内容</a></td><td><img src="img/icon018.png">&nbsp;跟帖：<span>8</span></td><td><img src="img/icon020.png">&nbsp;阅读：<span>17</span></td></tr>
                              <tr><td align="left">&nbsp;&nbsp;<a href="#">测试内容测试内容测试内容</a></td><td><img src="img/icon018.png">&nbsp;跟帖：<span>8</span></td><td><img src="img/icon020.png">&nbsp;阅读：<span>17</span></td></tr>-->
                    </table>
                </td>
                <td width="49%" style="padding-right: 1%;">
                    <table border="0" cellspacing="0" cellpadding="0"  class="qiehanlists" width="100%">

                        <tr><th align="left">&nbsp;&nbsp;精品</th><th width="40%" colspan="2" align="right" onclick="more(2)">更多...&nbsp;&nbsp;</th></tr>
                        <tr  th:each="list,listStat :${newForumMessageList}" th:onclick="'queryMessage(\''+${list.id}+'\')'">
                            <td align="left">&nbsp;&nbsp;<a href="#" th:text="${list.titile}">测试内容测试内容测试内容</a></td>
                            <td><img th:src="@{/forum/img/icon018.png}">&nbsp;跟帖：<span th:text="${list.replyNum}">0</span></td>
                            <td><img th:src="@{/forum/img/icon020.png}">&nbsp;阅读：<span th:text="${list.readNum}">0</span></td>
                        </tr>
                        <!--<tr><td align="left">&nbsp;&nbsp;<a href="#">测试内容测试内容测试内容</a></td><td><img src="img/icon018.png">&nbsp;跟帖：<span>8</span></td><td><img src="img/icon020.png">&nbsp;阅读：<span>17</span></td></tr>-->
                        <!--<tr><td align="left">&nbsp;&nbsp;<a href="#">测试内容测试内容测试内容</a></td><td><img src="img/icon018.png">&nbsp;跟帖：<span>8</span></td><td><img src="img/icon020.png">&nbsp;阅读：<span>17</span></td></tr>-->
                        <!--<tr><td align="left">&nbsp;&nbsp;<a href="#">测试内容测试内容测试内容</a></td><td><img src="img/icon018.png">&nbsp;跟帖：<span>8</span></td><td><img src="img/icon020.png">&nbsp;阅读：<span>17</span></td></tr>-->
                        <!--<tr><td align="left">&nbsp;&nbsp;<a href="#">测试内容测试内容测试内容</a></td><td><img src="img/icon018.png">&nbsp;跟帖：<span>8</span></td><td><img src="img/icon020.png">&nbsp;阅读：<span>17</span></td></tr>-->
                        <!--<tr><td align="left">&nbsp;&nbsp;<a href="#">测试内容测试内容测试内容</a></td><td><img src="img/icon018.png">&nbsp;跟帖：<span>8</span></td><td><img src="img/icon020.png">&nbsp;阅读：<span>17</span></td></tr>-->
                        <!--<tr><td align="left">&nbsp;&nbsp;<a href="#">测试内容测试内容测试内容</a></td><td><img src="img/icon018.png">&nbsp;跟帖：<span>8</span></td><td><img src="img/icon020.png">&nbsp;阅读：<span>17</span></td></tr>-->
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!--<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <div><h4>最近逛的论坛</h4></div>
            <div class="blog-post-meta" style="float: left; width:80%">
                         <span class="label label-warning pointer"  th:each="list,listStat : ${forumReadList}" th:onclick="'query(\''+${list.forumId}+'\')'">
                             <span class="label label-warning"  th:text="${list.forumTitle}" >豪车论坛</span>
                         </span>
                <span th:if="${#lists.isEmpty(forumReadList)}">暂无数据</span>
            </div>
            <div style="float: right; width:20%; height:260px;">
                <div>
                    <label>帖子数量：<span th:text="${forumMessageNum}" id="forumMessageNum">0</span></label>
                    <label>今日新增：<span th:text="${forumMessageAddNum}" id="forumMessageAddNum">0</span></label>
                </div>
                <div style="border:#ACC0D8 1px solid;">
                    <div style="display: flex;justify-content: space-around;padding-top: 12px;">
                        <div class="pointer" onclick="myMessage(0)"><img th:src="@{/img/tiezi.jpg}" style="width:35px;height:35px"><div>发帖</div></div>
                        <div class="pointer"  onclick="myMessage(1)"><img th:src="@{/img/tiezi.jpg}" style="width:35px;height:35px"><div>我的贴</div></div>
                        <div class="pointer"  onclick="myMessage(2)"><img th:src="@{/img/tiezi.jpg}" style="width:35px;height:35px"><div>回复帖</div></div>
                        <div class="pointer"  onclick="myMessage(3)"><img th:src="@{/img/tiezi.jpg}" style="width:35px;height:35px"><div>收藏贴</div></div>
                    </div>
                    <div>
                        <div style="padding: 10px;"><h4>公告</h4></div>
                        <div style="display: flex;justify-content: space-between;align-items: center; width: 100%;">
                            <div style="display: flex;justify-items: center;align-items: center; width: 90%;">
                                <i class="fa fa-volume-up" style="color: red;margin-left: 10px;"></i>
                                <marquee direction="up"   scrollamount="5" style="margin-left: 2rem;width: 90%">
                                    <div class="pointer hhh" width="100%" th:each="list : ${noticeList}" th:onclick="'queryNotice(\''+${list.forumNoticeId}+'\')'">
                                        <div style="margin: 10px;" th:text="${list.title}">无数据</div>
                                    </div>
                                </marquee>
                            </div>
                            <div style="white-space: nowrap;margin-right: 10px;" onclick="noticeMore()"><a>更多</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <div style="float:left;width:100%">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>论坛名称：</p>
                                <input type="text" name="titile" id="title"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-sm" onclick="forumList()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-sm" onclick="reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div  class="blog-post-meta" id="forumList">
                    &lt;!&ndash; 这里是论坛列表&ndash;&gt;
                </div>
                <div style="display: flex">
                    <div class="divzuire">
                        <div class="zuire"><span>最热</span><span class="gengduo pointer" onclick="more(1)">更多</span></div>
                        <div style="background: aliceblue;">
                            <div class="liebiao pointer" th:if="${#lists.isEmpty(hotForumMessageList)}">
                                <div>暂无数据</div>
                            </div>
                            <div class="liebiao pointer" th:each="list,listStat :${hotForumMessageList}" th:onclick="'queryMessage(\''+${list.id}+'\')'">
                                <div ><span th:text="${list.titile}"></span></div>
                                <div><span >跟帖：<span th:text="${list.replyNum}" class="spanPadding">0</span></span><span>  阅读：<span th:text="${list.readNum}" class="spanPadding">0</span></span></div>
                            </div>
                        </div>
                    </div>
                    <div  class="divzuire">
                        <div class="zuire"><span>精品</span><span class="gengduo pointer" onclick="more(2)">更多</span></div>
                        <div style="background: aliceblue;">
                            <div class="liebiao pointer" th:if="${#lists.isEmpty(newForumMessageList)}">
                                <div>暂无数据</div>
                            </div>
                            <div class="liebiao pointer" th:each="list,listStat :${newForumMessageList}" th:onclick="'queryMessage(\''+${list.id}+'\')'">
                                <div ><span th:text="${list.titile}"></span></div>
                                <div><span >跟帖：<span th:text="${list.replyNum}" class="spanPadding">0</span></span><span >   阅读：<span th:text="${list.readNum}"  class="spanPadding">0</span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>
</div>-->
<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<th:block th:include="include :: bootstrap-select-js" />
<script th:src="@{/ueditor/ueditor.config.js}"></script>
<script th:src="@{/ueditor/ueditor.all.min.js}"></script>
<script th:src="@{/ueditor/lang/zh-cn/zh-cn.js}"></script>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('oa:message:edit')}]];
    var removeFlag = [[${@permission.hasPermi('oa:message:remove')}]];
    var prefix = ctx + "oa/message";
    var prefixForum = ctx + "oa/forum";
    var datas = [[${@dict.getType('forum_plate_type')}]];
    var plateTypeDatas = [[${@dict.getType('forum_plate_type')}]];
    var userId = [[${userId}]];
    $(function() {
        forumList();
    });

    //查询论坛列表
    function  forumList() {
        var data = {};
        //论坛的类型
        data['plateType'] = '2';
        //查询论坛
        $.ajax({
            url: "/oa/forum/list",
            type: "post",
            data:data,
            dataType: "json",
            success: function (data) {
                if(data.code==0){
                    $("#luntan_lists").empty();
                    if(data.rows.length>0){
                        data.rows.forEach(function(element){
                            $("#luntan_lists").append("<li onclick='query("+element.id+")'>"+element.title+"</li>");
                        })
                    }else{
                        $("#luntan_lists").append("暂无数据");
                    }

                }
            }
        });
    }

    //查询我的帖子
    function myMessage(type) {

        //发帖
        if(type==0){
            $.modal.open("发帖", "/oa/message/add/");
        }
        //我的帖子
        if(type==1){
            var url ="/oa/message/myMessage";
            //如果是移动端，就使用自适应大小弹窗
            var width='';
            var height='';
            if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
                width = 'auto';
                height = 'auto';
            }
            var index = layer.open({
                type: 2,
                area: [width + 'px', height + 'px'],
                fix: false,
                //不固定
                maxmin: true,
                shade: 0.3,
                title: "我的帖子",
                content: url,
                // btn: ['返回'],
                // 弹层外区域关闭
                shadeClose: true,
                cancel: function(index) {
                    return true;
                }
            });
            layer.full(index);
        }
        //我的回复
        if(type==2){
            var url ="/oa/myForumMessage/myReply";
            //如果是移动端，就使用自适应大小弹窗
            var width='';
            var height='';
            if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
                width = 'auto';
                height = 'auto';
            }
            var index = layer.open({
                type: 2,
                area: [width + 'px', height + 'px'],
                fix: false,
                //不固定
                maxmin: true,
                shade: 0.3,
                title: "我的回复",
                content: url,
                // btn: ['返回'],
                // 弹层外区域关闭
                shadeClose: true,
                cancel: function(index) {
                    return true;
                }
            });
            layer.full(index);
        }
        //我的收藏
        if(type==3){
            var url ="/oa/myForumMessage/myColl";
            //如果是移动端，就使用自适应大小弹窗
            var width='';
            var height='';
            if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
                width = 'auto';
                height = 'auto';
            }
            var index = layer.open({
                type: 2,
                area: [width + 'px', height + 'px'],
                fix: false,
                //不固定
                maxmin: true,
                shade: 0.3,
                title: "我的收藏",
                content: url,
                // btn: ['返回'],
                // 弹层外区域关闭
                shadeClose: true,
                cancel: function(index) {
                    return true;
                }
            });
            layer.full(index);
        }
    }
    //查询重置
    function  reset() {
        $("#title").val("");
    }

    //查询公告详情
    function queryNotice(id) {
        var url = "/oa/notice/query/"+id;
        layer.open({
            type: 2,
            maxmin: true,
            shade: 0.3,
            title: "详情",
            fix: false,
            area: [800 + 'px', $(window).height() - 50 + 'px'],
            content: url,
            shadeClose: true,
            btn: ['关闭'],
            cancel: function () {
                return true;
            }
        });
    }
    //论坛详情
    function query(param,$event) {
        //去掉样式
        if($event){
            for(i=0;i<$("#luntan").find("a").length;i++){
                $("#luntan").find("a")[i].setAttribute("style","")
            }
            $event.setAttribute("style","background: #35aba0; color: #fff;");
        }
        var url = ctx + "oa/forumDetails/"+param;
        //如果是移动端，就使用自适应大小弹窗
        var width='';
        var height='';
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
            width = 'auto';
            height = 'auto';
        }
        var index = layer.open({
            type: 2,
            area: [width + 'px', height + 'px'],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: "论坛信息",
            content: url,
           // btn: ['返回'],
            // 弹层外区域关闭
            shadeClose: true,
            cancel: function(index) {
                return true;
            }
        });
        layer.full(index);
    }

    //查看帖子详情
    function queryMessage(id) {
        var url = "/oa/forumDetails/replyIndex/"+id;
        //如果是移动端，就使用自适应大小弹窗
        var width='';
        var height='';
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
            width = 'auto';
            height = 'auto';
        }
        var index = layer.open({
            type: 2,
            area: [width + 'px', height + 'px'],
            fix: false,
            //不固定
            maxmin: false,
            shade: 0.3,
            title: "查看详情信息",
            content: url,
            // 弹层外区域关闭
            shadeClose: false,
            cancel: function(index) {
                return true;
            }
        });
        layer.full(index);
    }

    //更多
    function  more(type) {
        var url = ctx + "oa/myForumMessage/hot/"+type;
        var title = '最热';
        if(type==1){
            title =  '最热';
        }else{
            title =  '精品';
        }
        //如果是移动端，就使用自适应大小弹窗
        var width='';
        var height='';
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
            width = 'auto';
            height = 'auto';
        }
        var index = layer.open({
            type: 2,
            area: [width + 'px', height + 'px'],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: title,
            content: url,
            // btn: ['返回'],
            // 弹层外区域关闭
            shadeClose: true,
            cancel: function(index) {
                return true;
            }
        });
        layer.full(index);
    }
    //更多公告
   function noticeMore() {
       var url = "/oa/notice/noticeList";
       //如果是移动端，就使用自适应大小弹窗
       var width='';
       var height='';
       if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
           width = 'auto';
           height = 'auto';
       }
       var index = layer.open({
           type: 2,
           area: [width + 'px', height + 'px'],
           fix: false,
           //不固定
           maxmin: true,
           shade: 0.3,
           title: "公告信息",
           content: url,
           // btn: ['返回'],
           // 弹层外区域关闭
           shadeClose: true,
           cancel: function(index) {
               return true;
           }
       });
       layer.full(index);
   }
</script>
</body>
</html>